
header {
    width: 100%; 
    height: auto; 
    min-height: 300px; 
    max-height: 600px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: transparent; 
    position: relative; 
    top: 0; 
    left: 0;
    z-index: 1000; 
    overflow: visible; 
}


header img {
    width: 60%; 
    height: auto; 
    max-height: 100%; 
    object-fit: contain; 
    position: relative; 
    top: 20px;

}



html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: "degular-display", sans-serif;
    font-weight: 400;
    background-color: #e1fae0;
    background-image: linear-gradient(#839df3 2.2px, transparent 2.2px), linear-gradient(to right, #839df3 2.2px, #e1fae0 2.2px);
    background-size: 44px 44px;
  
}


.container {
    position: relative;
    width: 100%;
    min-height: 300vh; 
    padding-bottom: 300px; 
    padding-top: 150px; 
}


.sticker {
    position: absolute;
    top: calc(90vh * var(--top)); 
    left: calc(90vw * var(--left)); 
    transform: scale(var(--scale)); 
    z-index: 10; 
    opacity: 0; 
    animation: fadeInAndGrow 1.5s ease-out forwards; 
    transition: z-index 0.3s ease, transform 0.3s ease;
}

@keyframes fadeInAndGrow {
    0% {
        opacity: 0;
        transform: scale(0.5); 
    }
    100% {
        opacity: 1;
        transform: scale(var(--scale)); 
    }
}

.sticker summary {
    cursor: pointer;
    list-style: none;
}

.sticker summary::-webkit-details-marker {
    display: none; 
}

@keyframes stickerVibrate {
    0% {
        transform: translate(0, 0) scale(1.1);
    }
    25% {
        transform: translate(-2px, -2px) scale(1.1);
    }
    50% {
        transform: translate(2px, 2px) scale(1.1);
    }
    75% {
        transform: translate(-2px, 2px) scale(1.1);
    }
    100% {
        transform: translate(0, 0) scale(1.1);
    }
}

.sticker img {
    max-width: 300px;
    cursor: pointer;
    filter: grayscale(100%) contrast(200%) brightness(100%) sepia(100%) hue-rotate(190deg) saturate(100%) invert(10%);
    opacity: 0.9;
    transition: transform 0.8s ease, filter 0.6s ease, opacity 0.6s ease;
}

.sticker img:hover {
    transform: scale(1.1);
    filter: none;
    opacity: 1;
    animation: stickerVibrate 0.3s linear infinite; 
}


.sticker p {
    display: none;
    font-size: 1.1rem;
    font-style: italic;
    color: blue;
    text-align: left;
    margin: 10px 0;
    text-shadow: 0 0 30px limegreen, 0 0 20px limegreen;
}

.sticker[open] p {
    display: block; 
}

.sticker[open] {
    z-index: 10000; 
    transform: scale(2.5); 
}

.sticker:nth-child(1) { --top: -0.3; --left: 0.8; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(2) { --top: -0.1; --left: 0.2; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(3) { --top: 0.4; --left: 0.2; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(4) { --top: 0.2; --left: 0.7; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(5) { --top: 0.45; --left: 0.5; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(6) { --top: 0.7; --left: 0.8; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(7) { --top: 0.8; --left: 0.3; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(8) { --top: 0.9; --left: 0.1; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(9) { --top: 1.05; --left: 0.4; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(10) { --top: 1.2; --left: 0.6; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(11) { --top: 1.35; --left: 0.8; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(12) { --top: 1.5; --left: 0.1; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(13) { --top: 1.4; --left: 0.2; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(14) { --top: 1.8; --left: 0.45; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(15) { --top: 0.9; --left: 0.7; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(16) { --top: 2.1; --left: 0.8; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(17) { --top: 2.25; --left: 0.6; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(18) { --top: 2.4; --left: 0.2; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(19) { --top: 2.55; --left: 0.4; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(20) { --top: 2.7; --left: 0.8; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(21) { --top: 2.8; --left: 0.1; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(22) { --top: 3.2; --left: 0.5; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(23) { --top: 3.4; --left: 0.8; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(24) { --top: 3.6; --left: 0.2; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(25) { --top: 3.8; --left: 0.4; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(26) { --top: 3.9; --left: 0.8; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(27) { --top: 4.3; --left: 0.2; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(28) { --top: 4.4; --left: 0.6; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(29) { --top: 5.1; --left: 0.8; --scale: 1.5; --z-index: 2; }
.sticker:nth-child(30) { --top: 4.8; --left: 0.4; --scale: 1.5; --z-index: 2; }
